<ion-header>
    <ion-navbar color="primary">

        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>


        <ion-title text-center>
            Yo Pido
        </ion-title>

        <ion-buttons end>
            <button ion-button icon-only (click)="_cs.ver_carrito()">
          <ion-icon name="cart"></ion-icon>
          <ion-badge color="danger"
          class="carrito-numero  "
          *ngIf="_cs.items.length > 0">{{_cs.items.length}}</ion-badge>
        </button> &nbsp;

        </ion-buttons>


    </ion-navbar>
</ion-header>

<ion-content no-padding>

    <ion-slides pager class="featureSlider">

        <ion-slide style="background-image: url('../assets/imgs/Banner2.jpg'); background-position: center center; background-size: cover;">
             <button ion-button style="right: 20px; bottom: 15%; position: absolute;">Solo lo mejor</button>
        </ion-slide>

        <ion-slide style="background-image: url('../assets/imgs/banner.png'); background-position: center center; background-size: cover;">
            <button ion-button style="right: 20px; bottom: 15%; position: absolute;">Explora categorias</button>
        </ion-slide>

        <ion-slide style="background-image: url('../assets/imgs/Banner1.png'); background-position: center center; background-size: cover;">
            <button ion-button style="right: 20px; bottom: 15%; position: absolute;">Comprar ahora!</button>
        </ion-slide>
    </ion-slides>

    <ion-searchbar (click)="irApaginaBusqueda()"></ion-searchbar>


    <!-- Categotias -->

    <!-- <ion-slides class="featureSlider2" spaceBetween="-18" slidesPerView="3">
        <ion-slide *ngFor="let categoria of _ps.lineas" [navPush]="porCategorias" [navParams]="{ categoria:categoria }">
            <ion-row>
                <ion-col>
                    <ion-card>
                        <button ion-button item-center block>
                  <ion-icon [name]="categoria.icono" ></ion-icon>
                  {{ categoria.linea }}
                </button>
                    </ion-card>
                </ion-col>
            </ion-row>

        </ion-slide>
    </ion-slides> -->

    <div class="title1 ion-padding">
        <h2>Nuestros Productos</h2>
        <p>Ver todo</p>
      </div>

    <!-- Productos -->
    <ion-grid no-padding >
        <ion-row *ngFor="let pares of _ps.productos">
            <ion-col col-6 *ngFor="let item of pares" [navParams]="{producto : item}" [navPush]="productoPage">
               
                        <ion-card class="product-card" >

                            <img [src]="item.imagen|imagen" no-margin/>
                            <div>
                                <ion-label color="black">
                                    <b>{{item.producto}}</b>
                                </ion-label>
                                <ion-label color="secondary">
                                    <b>{{ item.precio_compra | currency:'USD' :true}}</b>
                                </ion-label>
                                <button ion-button block icon-only round> 
                                    <ion-icon name="cart"></ion-icon>
                                </button>
                            </div>
                        </ion-card>
                
            </ion-col>
        </ion-row>
    </ion-grid>

    <!--  /Productos   -->


    <ion-infinite-scroll threshold="100px" (ionInfinite)="siguiente_pagina($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="cargando mas productos...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>


</ion-content>