page-home {
    
        .featureSlider{
          height: 40%;
        }
        .featureSlider2{
          height: 10%
        }



        .title1 {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-bottom: 32px;
      
          h2 {
              margin: 0 0 0 16px;
              color: #434343;
          }
      
          p {
              margin: 0 16px 0 0;
              color: #656565;
          }
      }
}
